{% extends 'navbar/usernavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
{% block body%}
<div>
    <h1 align="center">User Profile Page</h1>
    <div>
        <!DOCTYPE html>
        <html lang="en"></html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
            <title>User profile Page</title>
        </head>
        <body>
        <div class="container mt-5">
            <h2>User Profile Page</h2>
            <form method="post" action="{% url 'submit_form' %}">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="first_name">First name</label>
                        <input type="text" class="form-control" name="first_name" placeholder="Enter first name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="last_name">Last name</label>
                        <input type="text" class="form-control" name="last_name" placeholder="Enter last name">
                    </div><br><br>
                    <div class="form-group col-md-6">
                        <label for="phone_number">Phone Number</label>
                        <input type="text" class="form-control" name="phone_number" placeholder="Enter phone number">
                    </div><br><br>
                    <div class="form-group col-md-6">
                        <label for="date_of_birth">Date of Birth</label>
                        <input type="text" class="form-control" name="date_of_birth" placeholder="Enter date of birth">
                    </div><br><br>
                    <div class="form-group col-md-6">
                        <label for="bio">Bio</label>
                        <input type="text" class="form-control" name="bio" placeholder="Enter bio">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <br><br><br><br>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        </body>
        </html>
    </div>
</div>
{% endblock %}
</body>
</html>